@model HttpCookie

@{
    Layout = null;
}

<p>Cookie Set</p>
<p>Name: @Model.Name</p>
<p>Value: @Model.Value</p>
<p>Expires: @Model.Expires</p>
<p>@Model.Domain @Model.Path @Model.Secure @Model.Shareable @Model.Values</p>
